body {
    background-image: url("wood.jpeg");
    background-size: cover;
    margin: 6px;
} 

.p-cont {
    position: relative;
    text-align: center;
    margin-top: 6px;
    font-weight: bold;
    font-family: 'Quantico', sans-serif;
}

.canvas-cont {
    display: block;
    margin: auto;
    margin-top: 100px;
    position: absolute;
    width: 100vw;
    height: 65vh;
    display: flex;
    justify-content: center;
}

canvas {
    background: rgb(7, 100, 7);
}

.connect-links {
    position: relative;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    top: 70vh;
}

ul li {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}


 