body {
    background-image: url("wood.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 6px;
    overflow-x: hidden; 
    overflow-y: auto;
} 

.p-cont {
    position: relative;
    text-align: center;
    margin-top: 5vh;
    font-weight: bold;
    font-family: 'Quantico', sans-serif;
}

.canvas-cont {
    display: block;
    margin: auto;
    margin-top: 100px;
    position: absolute;
    width: 100vw;
    height: 65vh;
    display: flex;
    justify-content: center;
}

canvas {
    background: rgb(7, 100, 7);
}

.connect-links {
    position: relative;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    top: 65vh;
}

ul li {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}


 